/.project
/moc_mainwindow.cpp
/31.10.2013.log
/Makefile
/krn_narishkino
/krn_narishkino.pro.user
/main.o
/mainwindow.cpp.autosave
/mainwindow.o
/moc_mainwindow.o
/myProjectLog.log
/settings.conf
/settings.conf~
/settings.ini
/ui_mainwindow.h
/log/
/.*~
/*.debug
/*.release
/debug/
/release/

